<div id="about-banner" class="container-fluid">
  <div class="jumbotron">
    <div class="row no-gutters">
      <div class="col">
        <div class="display-3">About Us</div>
          <p>Through dedication, hard work, and conviction, The Law Office of David Flores assists individuals and families in the Houston area and throughout Texas in planning for their future. Founded on the principle of service to others, our office helps our clients preserve and protect their hard-earned assets and to ensure the ongoing care of their minor children.</p>
          <div id="contact-panel">
            <h4>832-942-7742</h4>
            <h5>David@DavidFloresLaw.com<br>Wills and Trusts<br>6575 West Loop South, Suite 500<br>Bellaire, Texas 77401</h5>
          </div>
        </div>
    </div>
  </div>
</div>
<div id="profile-section" class="container-fluid">
  <h1>David Flores</h1>
  <h4>A Dedicated Houston Attorney</h4>
  <p>A fourth generation native Houstonian, David grew up attending schools in the Pasadena Independent School District. He received his bachelor’s degree from the University of Houston and his law degree from South Texas College of Law Houston. He has been licensed to practice law in Texas for the past 15 years. David has worked both in private practice and in a corporate setting handling matters such as wills and probate, real estate, civil litigation and mediation. Through his professional experience and volunteer work David has learned the importance of service to others. He is a joyful and tireless servant to his family, clients, and community. </p>
</div>
