<div id="law-office-about-page">

  <div class="container-fluid">

    <div id="about-header">
      <%= image_tag('houston-city-mobile.jpg', :class=>'img-fluid', :alt=>'Houston') %>
    </div>

    <div id="about-office">
      <div class="row">
        <div class="col-md-6">
          <div id="about-our-law-office">
            <h1>Our Law Office</h1>
            <h4>Wills & Estate Planning &bull; Probates &bull; Real Estate</h4>
            <p>Founded on the principle of service to others, <b>The Law Office of David Flores</b> can help you preserve and protect your hard-earned assets and to ensure the ongoing care of your children and loved ones.</p>
            <p>In the Houston area and throughout Texas, we assist individuals and families in planning for their future with a commitment to dedication, hard work, and conviction.</p>
          </div>
        </div>
        <div class="col-md-6">
          <div id="about-contact">
            <h3>Location</h3>
            <h5>6575 West Loop South, Suite 500</h4>
            <h5>Bellaire, Texas 77401</h5>
            <h3>Contact</h3>
            <h5>832-942-7742<h5>
            <h5>David@DavidFloresLaw.com</h5>
          </div>
        </div>
      </div>
    </div>

  </div>

<div class="jumbotron jumbotron-fluid">
  <div class="container-fluid">
    <div class="row no-gutters">
      <div class="col-xs-12 col-md-6">
        <div id="about-profile-section">
          <h1>A Dedicated Houston Attorney</h1>
          <h4>David Flores: Licensed to practice law in Texas for the past 15 years</h4>
          <p>David has worked both in private practice and in a corporate setting handling matters such as wills and probate, real estate, civil litigation and mediation.</p>
          <p>Through his professional experience and volunteer work David has learned the importance of service to others. He is a joyful and tireless servant to his family, clients, and community.</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div id="about-profile-image">
          <%= image_tag('david-portrait.jpg', :class=>'img-fluid rounded', :alt=>'David Flores') %>
          <h6>A fourth generation native Houstonian, David grew up attending schools in the Pasadena Independent School District.</h6>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="container-fluid">
    <div class="row no-gutters">
      <div id="about-school-section">
        <div class="col">
          <h1>Affiliations</h1>
          <p>He received his bachelor’s degree from the University of Houston and his law degree from South Texas College of Law Houston.</p>
        </div>
        <div class="col">
          <%= image_tag('school-logo.png', :class=>'img-fluid', :alt=>'U of H logo') %>
          <%= image_tag('law-school-logo.png', :class=>'img-fluid', :alt=>'South Texas Law logo') %>
        </div>
      </div>
    </div>
  </div>

</div>
