<div class="jumbotron">
  <div class="row no-gutters">
    <div class="col">
      <div class="display-3">Enjoy Life.<br>Simplify<br>the hard stuff.</div>
      <div id="banner-logo" class="card">
        <div class="card-body">
          <h4 class="card-title">David Flores Law</h4>
          <p class="card-text">Wills &amp; Trusts</p>
          <div class="text-center">
            <%= link_to 'CONTACT US', "#", class: "btn btn-outline-light" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="intro-section" class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col"></div>
  </div>
</div>
