<div id="home-banner">
  <div class="jumbotron">
    <div class="row no-gutters">
      <div class="col"></div>
      <div class="col">
        <div class="display-3">Simplify the<br>hard stuff.<br>Enjoy life.</div>
        <button type="button" class="btn btn-default btn-lg btn-block">LEARN MORE</button>
        <button type="button" class="btn btn-primary btn-lg btn-block">CONTACT US</button>
      </div>
    </div>
  </div>
</div>


<div id="banner-footer" class="container-fluid">
  <div class="row no-gutters">
    <div class="col">Wills & Estate Planning | Probates | Real Estate</div>
  </div>
</div>

<div id="planning-section" class="container-fluid">
  <div class="row no-gutters">
    <div class="col-md-6">
      <h1>Life<br>Planning<br>Made<br>Simple</h1>
    </div>
    <div class="col-md-5">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
    </div>
  </div>
</div>

<div id="home-table" class="container-fluid">
  <div class="row justify-content-md-center">
    <div class="col-xs-12 col-lg-6">
      <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</h2>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-xs-12 col-lg-9">
      <table class="table">
        <thead class="thead-inverse">
          <tr>
            <th>Lorem Ipsum</th>
            <th>Lorem Ipusm</th>
          </tr>
        </thead>
        <tbody>
          <tr id="home-table-row-one">
            <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,.</td>
            <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,.</td>
          </tr>
          <tr id="home-table-row-two">
            <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,.</td>
            <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,.</td>
          </tr>
          <tr id="home-table-row-three">
            <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,.</td>
            <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,. </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div id="secure-section" class="container-fluid">
  <div class="row justify-content-md-center">
    <div class="col-xs-12 col-lg-8">
      <h1>Secure Your Future</h1>
      <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do adipiscing.</h3>
    </div>
  </div>
</div>

<div id="help-section" class="container-fluid">
  <div class="row no-gutters">
    <div class="col-xs-12 col-lg-6">
      <h1>Lorem<br>Elit<br>Dolor<br>Amet</h1>
    </div>
    <div class="col-xs-12 col-lg-6">
      <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</h3>
    </div>
  </div>
</div>

<div id="home-contact-section">
  <div class="jumbotron">
    <div class="row no-gutters">
      <div class="col"></div>
      <div class="col">
        <div id="contact-panel">
          <h3>Law Office of David Flores Law</h3>
        </div>
      </div>
    </div>
  </div>
</div>
