<div id="home-banner">
  <div class="jumbotron">
    <div class="row no-gutters">
      <div class="col-xs-12 col-md-6"></div>
      <div class="col-xs-12 col-md-6">
        <div class="display-3-mobile">Simplify the hard stuff. Enjoy life.</div>
        <div class="display-3">Simplify the<br>hard stuff.<br>Enjoy life.</div>
        <button type="button" class="btn btn-default btn-lg btn-block">LEARN MORE</button>
        <button type="button" class="btn btn-primary btn-lg btn-block">CONTACT US</button>
      </div>
    </div>
  </div>
</div>


<div id="banner-footer" class="container-fluid">
  <div class="row no-gutters">
    <div class="col">Wills & Estate Planning | Probates | Real Estate</div>
  </div>
</div>

<div id="planning-section" class="container-fluid">
  <div class="row no-gutters">
    <div class="col-md-6">
      <h1>Life<br>Planning<br>Made<br>Simple</h1>
    </div>
    <div class="col-md-5">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
    </div>
  </div>
</div>

<div id="home-table" class="container-fluid">
  <div class="row justify-content-sm-center">
    <div class="col-xs-8 col-sm-8 col-lg-6">
      <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</h2>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-xs-12 col-lg-9">
      <table class="table">
        <thead class="thead-inverse">
          <tr>
            <th>Lorem Ipsum</th>
            <th>Lorem Ipusm</th>
          </tr>
        </thead>
        <tbody>
          <tr id="home-table-row-one">
            <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,.</td>
            <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,.</td>
          </tr>
          <tr id="home-table-row-two">
            <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,.</td>
            <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,.</td>
          </tr>
          <tr id="home-table-row-three">
            <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,.</td>
            <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,. </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div id="secure-section" class="container-fluid">
  <div class="row justify-content-md-center">
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-8">
      <h1>Secure Your Future</h1>
      <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do adipiscing.</h3>
    </div>
  </div>
</div>

<div id="help-section" class="container-fluid">
  <div class="row no-gutters">
    <div class="col-md-6">
      <h1>Lorem<br>Elit<br>Dolor<br>Amet</h1>
    </div>
    <div class="col-md-5">
      <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</h3>
    </div>
  </div>
</div>

<div id="home-contact-section" class="container-fluid">
  <div class="jumbotron">
    <div class="row no-gutters">
      <div class="col-xs-12 col-md-5 col-lg-6"></div>
      <div class="col-xs-12 col-md-7 col-lg-6">
        <div id="contact-panel">
          <h3>Law Office of David Flores</h3>
          <h4>832-942-7742</h4>
          <h5>David@DavidFloresLaw.com<br>Wills and Trusts<br>6575 West Loop South, Suite 500<br>Bellaire, Texas 77401</h5>
          <div id="contact-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3465.3596177914474!2d-95.46118854957028!3d29.70934064119187!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8640c197a5a0ad1f%3A0xc0e2a934980da954!2s6575+West+Loop+S+%23500%2C+Bellaire%2C+TX+77401!5e0!3m2!1sen!2sus!4v1521328558248" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="home-footer">
  <div class="row no-gutters">
    <div class="col-xs-12 col-md-6"></div>
    <div class="col-xs-12 col-md-6">
      <h6>Law Office of David Flores | Wills and Trusts | 2018</h6>
    </div>
  </div>
</div>
