// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// Extra small devices  ... (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

#law-office-about-page .container-fluid {
  padding: 0 15px;

  p {
    margin: 20px 0;
      /* Lorem ipsum dolor si: */
    font-family: 'Catamaran', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #1a1a1a;
    line-height: 36px;
    width: auto;
  }

  h1 {
    margin: 24px 0 0 0;
    /* Life Planning Made S: */
    font-family: 'Catamaran', sans-serif;
    font-weight: 300;
    font-size: 52px;
    color: #2C3E50;
    letter-spacing: -0.37px;
    line-height: 52px;
  }

  h4 {
    margin: 36px 0 12px 0;
    font-family: 'Catamaran', sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: #2C3E50;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  h5 {
    font-family: 'Catamaran', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #1a1a1a;
    line-height: 20px;
    letter-spacing: 0;
  }

}

#about-header {
  margin-bottom: 24px;
}

#about-office {
  margin: 0 0 36px 0;
}

#about-our-law-office {
  margin: 0 15px;
}

#about-contact {
  margin: 0 15px;
}

#about-profile-section {
  margin: 0 15px;
}

#about-profile-image {
  margin: 0 42px;
  img {
    border-radius: 12px;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {


}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

  #law-office-about-page .container-fluid {
    padding: 0 30px;
  }

  #about-office {

  }

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {



}

// Super large devices (large desktops, 1440px and up)
@media (min-width: 1440px) {



}
