// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// Extra small devices  ... (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap


.jumbotron {
  margin: 0 30px 0 30px;
  background-image: url("mom-in-grass-mobile.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 465px;
  padding: 5px;

  .display-3 {
    margin-left: 10%;
    margin-top: 30px;
    font-family: 'Catamaran', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 38px;
    color: #ecf0f1;
    text-shadow: 0 2px 4px rgba(0,0,0,0.50);
  }
}

#intro-section {
  height: 500px;
  background: #f9f9f9;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

  .jumbotron {
    background-image: url("mom-in-grass-landscape.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 375px;
    padding: 0;

    .display-3 {
      margin-left: 65%;
      margin-top: 85px;
      font-family: 'Catamaran', sans-serif;
      font-size: 28px;
      line-height: 28px;
      color: #ecf0f1;
      text-shadow: 0 2px 4px rgba(0,0,0,0.50);
    }
  }

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

  .jumbotron {
    background-image: url("mom-in-grass-768.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
    padding: 0;

    .display-3 {
      margin-left: 67%;
      margin-top: 110px;
      font-family: 'Catamaran', sans-serif;
      font-size: 28px;
      line-height: 28px;
      color: #ecf0f1;
      text-shadow: 0 2px 4px rgba(0,0,0,0.50);
    }
  }

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .jumbotron {
    background-image: url("mom-in-grass-992.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    padding: 0;

    .display-3 {
      margin-left: 67%;
      margin-top: 90px;
      font-family: 'Catamaran', sans-serif;
      font-size: 28px;
      line-height: 28px;
      color: #ecf0f1;
      text-shadow: 0 2px 4px rgba(0,0,0,0.50);
    }
  }

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

  #home-banner {
    .jumbotron {
      background-image: url("mom-in-grass-1200.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      height: 600px;

      .display-3 {
        margin-left: 30%;
        margin-top: 160px;
        font-family: 'Catamaran', sans-serif;
        font-size: 32px;
        line-height: 34px;
        color: #ecf0f1;
        text-shadow: 0 2px 4px rgba(0,0,0,0.50);
      }

      .btn-block {
        margin: 24px 0 18px 30%;
        width: 397px;
      }

      .btn-lg {
        padding: 10px 18px 6px 18px;
        border-radius: 0;
        font-family: 'Catamaran-Bold';
        font-size: 24px;
        letter-spacing: 1px;
        height: 58px;
      }

      .btn-default {
        background: rgba(236, 240, 241, 0);
        border: 3px solid #ecf0f1;
        color: #ecf0f1;
        text-shadow: 0 2px 4px rgba(0,0,0,0.50);
      }

      .btn-primary {
        background: rgba(236, 240, 241, .9);
        border-color: #ecf0f1;
        color: #2C3E50;
      }
    }
  }

}

// Super large devices (large desktops, 1440px and up)
@media (min-width: 1440px) {

  #home-banner {
    .jumbotron {
      background-image: url("mom-in-grass-1440.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 0;
      height: 700px;

      .display-3 {
        /* Simplify the hard st: */
        font-family: Catamaran-Medium;
        font-size: 76px;
        color: #ECF0F1;
        letter-spacing: 1.2px;
        line-height: 73px;
        text-shadow: 0 2px 4px rgba(0,0,0,0.50);
      }
    }
  }

  #banner-footer {
    background-color: #f9f9f9;
    margin: 0 30px;
    height: 50px;
    width: auto;
    /* Wills & Estate Plann: */
    font-family: Catamaran-Light;
    font-size: 32px;
    color: #2C3E50;
    letter-spacing: 0;
    text-align: right;  }

  #planning-section {
    background-color: #F1C40F;
    margin: 0 30px;
    height: 800px;
    width: auto;

    h1 {
      margin: 140px 0 0 10%;
      /* Life Planning Made S: */
      font-family: Catamaran-Light;
      font-size: 140px;
      color: #2C3E50;
      letter-spacing: -0.37px;
      line-height: 124px;
    }

    P {
    margin: 180px 0 0 5%;
      /* Lorem ipsum dolor si: */
    font-family: Catamaran-Regular;
    font-size: 48px;
    color: #ECF0F1;
    line-height: 64px;
    width: 550px;
    }
  }

  #home-table {
    background-color: #f9f9f9;
    margin: 160px 30px 80px 30px;
    width: auto;

    h2 {
      padding: 0 0 60px 0;
      /* Lorem ipsum dolor si: */
      font-family: Catamaran-Medium;
      font-size: 36px;
      color: #F1C40F;
      letter-spacing: -0.33px;
      line-height: 42px;
      text-align: center;
    }

    table {

      tr {
      }

      th {
        padding: 24px 60px;
        border: none;
        font-family: Catamaran-Regular;
        font-size: 36px;
        font-weight: normal;
        color: #2980B9;
        letter-spacing: -0.33px;
        line-height: 42px;
      }

      td {
        padding: 42px 60px;
        font-family: Catamaran-Regular;
        font-size: 20px;
        color: #2C3E50;
        letter-spacing: -0.18px;
        line-height: 30px;
      }

      .thead-inverse {
        background-color: #ECF0F1;
      }

      #home-table-row-one {
        background-color: rgba(41,128,185,0.14);
      }

      #home-table-row-two {
        background: rgba(41,128,185,0.21);
      }

      #home-table-row-three {
        background: rgba(41,128,185,0.28);
      }
    }
  }

  #secure-section {
    margin: 160px 30px 160px 30px;
    width: auto;

    h1 {
      font-family: Catamaran-Light;
      font-size: 140px;
      color: #2980B9;
      letter-spacing: -0.37px;
      line-height: 124px;
      text-align: center;
    }

    h3 {
      font-family: Catamaran-Regular;
      font-size: 64px;
      color: #2C3E50;
      letter-spacing: -0.33px;
      line-height: 73px;
      text-align: center;
    }
  }

  #help-section {
    background-color: #2C3E50;
    margin: 0 30px;
    height: 800px;
    width: auto;

    h1 {
      margin: 140px 0 0 10%;
      /* Life Planning Made S: */
      font-family: Catamaran-Light;
      font-size: 140px;
      color: #F1C40F;
      letter-spacing: -0.37px;
      line-height: 124px;
    }

    h3 {
      margin: 180px 0 0 5%;
        /* Lorem ipsum dolor si: */
      font-family: Catamaran-Regular;
      font-size: 48px;
      color: #ECF0F1;
      line-height: 64px;
      width: 550px;
    }
  }

  #home-contact-section {
    .jumbotron {
      margin: 30px 30px;
      background-image: url("mom-child-contact.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 0;
      height: 847px;
    }

    #contact-panel {
      margin: 146px 0;
      padding: 60px;
      background: rgba(236, 240, 241, .63);
      width: 524px;
      height: 555px;
    }

    h3 {
      font-family: PlayfairDisplay;
      font-size: 32px;
      color: #2C3E50;
      letter-spacing: 0;
      line-height: 0;
    }
  }

}
