// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// Extra small devices  ... (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap


.jumbotron {
  margin: 0;
  background-image: url("mom-in-grass-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: auto;
  padding: 5px 6% 10% 6%;
  border-radius: 0;

  .tablet-banner-content {
    display: none;
  }

  .display-3 {
    margin: 272px 10% 0 10%;
    font-family: 'Catamaran', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 30px;
    color: #ecf0f1;
    text-shadow: 0 2px 4px rgba(0,0,0,0.50);
  }

  .btn-block {
    margin: 12px 0 0 0;
  }

  .btn-lg {
    padding: 7px 12px 6px 12px;
    border-radius: 12px;
    font-family: 'Catamaran', sans-serif;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 1px;
  }

  .btn-default {
    background: #F1C40F;
    border: 3px solid #ecf0f1;;
    color: #ecf0f1;
  }

  .btn-primary {
    background: #2C3E50;
    border: 3px solid #ecf0f1;
    color: #ecf0f1;
  }
}

#banner-footer {
  background-color: #f9f9f9;
  margin: 5px 0 0 0;
  padding: 0;
  height: 30px;
  width: auto;
  /* Wills & Estate Plann: */
  font-family: 'Catamaran', sans-serif;
  font-weight: 300;
  font-size: 17px;
  color: #2C3E50;
  letter-spacing: 0;
  text-align: center;
}

#planning-section {
  background-color: #F1C40F;
  margin: 0 15px;
  height: auto;
  width: auto;

  h1 {
    margin: 50px 0 0 8%;
    /* Life Planning Made S: */
    font-family: 'Catamaran', sans-serif;
    font-weight: 300;
    font-size: 52px;
    color: #2C3E50;
    letter-spacing: -0.37px;
    line-height: 52px;
  }

  P {
  margin: 20px 0 50px 8%;
    /* Lorem ipsum dolor si: */
  font-family: 'Catamaran', sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #ECF0F1;
  line-height: 42px;
  width: auto;
  }
}

#home-table {
  background-color: #f9f9f9;
  margin: 50px 0;
  width: auto;

  h2 {
    margin: 0 15px;
    padding: 0 0 20px 0;
    /* Lorem ipsum dolor si: */
    font-family: 'Catamaran', sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: #F1C40F;
    letter-spacing: -0.33px;
    line-height: 42px;
    text-align: center;
  }

  table {

    tr {
    }

    th {
      padding: 12px 15px;
      border: none;
      font-family: 'Catamaran', sans-serif;
      font-weight: 400;
      font-size: 22px;
      color: #2980B9;
      letter-spacing: -0.33px;
      line-height: 20px;
    }

    td {
      padding: 21px 15px;
      font-family: 'Catamaran', sans-serif;
      font-weight: 400;
      font-size: 16px;
      color: #2C3E50;
      letter-spacing: -0.18px;
      line-height: 20px;
    }

    .thead-inverse {
      background-color: #ECF0F1;
    }

    #home-table-row-one {
      background-color: rgba(41,128,185,0.14);
    }

    #home-table-row-two {
      background: rgba(41,128,185,0.21);
    }

    #home-table-row-three {
      background: rgba(41,128,185,0.28);
    }
  }
}

#secure-section {
  margin: 50px 30px;
  width: auto;

  h1 {
    font-family: 'Catamaran', sans-serif;
    font-weight: 300;
    font-size: 52px;
    color: #2980B9;
    letter-spacing: -0.37px;
    line-height: 50px;
    text-align: center;
  }

  h3 {
    font-family: 'Catamaran', sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: #2C3E50;
    letter-spacing: -0.33px;
    line-height: 42px;
    text-align: center;
  }
}

#help-section {
  background-color: #2C3E50;
  margin: 0 15px;
  height: auto;
  width: auto;

  h1 {
    margin: 50px 0 0 8%;
    /* Life Planning Made S: */
    font-family: 'Catamaran', sans-serif;
    font-weight: 300;
    font-size: 52px;
    color: #F1C40F;
    letter-spacing: -0.37px;
    line-height: 52px;
  }

  h3 {
      margin: 20px 0 50px 8%;
        /* Lorem ipsum dolor si: */
      font-family: 'Catamaran', sans-serif;
      font-weight: 400;
      font-size: 22px;
      color: #ECF0F1;
      line-height: 42px;
      width: auto;
  }
}

#home-contact-section {
  .jumbotron {
    margin: 0;
    background: none;
    height: 600px;
  }

    #contact-panel {
    margin: 0;
    padding: 20px;
    background: #f9f9f9;
    width: auto;
    height: auto;
  }

  h3 {
    padding: 32px 0 16px 0;
    font-family: PlayfairDisplay;
    font-size: 24px;
    color: #2C3E50;
    letter-spacing: 0;
    line-height: 26px;
  }

  iframe {
    width: 100%;
    height: 260px;
  }
}

#home-footer {
  background-color: #2C3E50;
  height: 24px;

  h6 {
    padding: 5px 0 0 0;
    font-size: 12px;
    color: #F1C40F;
    text-align: center;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

  .jumbotron {
    margin: 0 15px;
    background-image: url("mom-in-grass-landscape.png");
    height: 375px;
    padding: 0;

    .mobile-banner-content {
      display: none;
    }

    .tablet-banner-content {
      display: block;
    }

    .display-3 {
      margin-left: 65%;
      margin-top: 85px;
      font-size: 28px;
    }

    .btn-block {
      margin: 12px 0 0 65%;
      width: 160px;
    }

    .btn-lg {
      border-radius: 12px;
      font-size: 16px;
    }

    .btn-default {
      background: rgba(44, 62, 80, .1);
      text-shadow: 0 2px 4px rgba(0,0,0,0.50);
    }

    .btn-primary {
      background: rgba(236, 240, 241, .9);
      color: #2C3E50;
    }
  }

  #banner-footer {
    margin: 5px 0 0 0;
    font-size: 20px;
  }

  #planning-section {


    h1 {
      font-size: 64px;
      line-height: 62px;
    }

    P {
    font-size: 28px;
    letter-spacing: -0.33px;
    line-height: 48px;
    width: 400px;
    }
  }

  #home-table {

    h2 {
      margin: 0;
      font-size: 28px;
      line-height: 48px;
    }

  }

  #secure-section {
    padding: 0 5%;

    h1 {
      font-size: 64px;
      line-height: 56px;
    }

    h3 {
      font-size: 28px;
      line-height: 36px;
    }
  }

  #help-section {

    h1 {
      font-size: 64px;
      line-height: 62px;
    }

    h3 {
      font-size: 28px;
      line-height: 48px;
      width: 400px;
    }
  }

  #home-contact-section {
    .jumbotron {
      margin: 15px;
    }

    #contact-panel {
      margin: 25px 0;

      iframe {
        width: 468px;
        height: 275px;
      }
    }

    h3 {
      font-family: PlayfairDisplay;
      font-size: 36px;
      color: #2C3E50;
      letter-spacing: 0;
      line-height: 26px;
    }
  }

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

  .jumbotron {
    margin: 0 30px;
    background-image: url("mom-in-grass-landscape.png");
    height: 375px;

    .display-3-mobile {
      display: none;
    }

    .display-3 {
      display: block;
      margin: 65px 0 0 30%;
      font-size: 44px;
      line-height: 40px;
    }
    .btn-block {
      margin: 18px 0 0 30%;
      width: 217px;
    }

    .btn-lg {
      padding: 8px 18px 5px 18px;
      font-size: 22px;
    }

    .btn-default {

    }

    .btn-primary {

    }
  }

  #banner-footer {
    margin: 5px 30px 0 30px;
    height: 45px;
    width: auto;
    /* Wills & Estate Plann: */
    font-size: 28px;
    text-align: right;  }

  #planning-section {
    margin: 0 30px;
    height: 600px;

    h1 {
      margin: 70px 0 0 8%;
      font-size: 96px;
      line-height: 112px;
    }

    P {
    margin: 140px 0 0 18%;
    font-size: 30px;
    line-height: 42px;
    width: 280px;
    }
  }

  #home-table {
    margin: 105px 15px 80px 15px;

    h2 {
      padding: 0 0 40px 0;
      font-size: 30px;
      line-height: 42px;
    }

    table {

      th {
        padding: 24px 60px;
        font-size: 36px;
        line-height: 42px;
      }

      td {
        padding: 42px 60px;
        font-size: 20px;
        line-height: 30px;
      }
    }
  }

  #secure-section {
    margin: 100px 30px;

    h1 {
      font-size: 96px;
      line-height: 90px;
    }

    h3 {
      font-size: 30px;
      line-height: 42px;
    }
  }

  #help-section {
    margin: 0 30px;
    height: 600px;

    h1 {
      margin: 70px 0 0 8%;
      font-size: 96px;
      line-height: 112px;
    }

    h3 {
      margin: 140px 0 0 18%;
      font-size: 30px;
      line-height: 42px;
      width: 280px;
    }
  }

  #home-contact-section {
    .jumbotron {
      background-image: url("mom-child-contact.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 0;
      height: auto;
    }

    #contact-panel {
      margin: 15px 15px 15px 0;
      padding: 0 30px 15px 30px;
      background-color: #f9f9f9;

      h3 {
        font-family: PlayfairDisplay;
        font-size: 28px;
        color: #2C3E50;
        letter-spacing: 0;
        line-height: 26px;
      }

      h4 {
        font-size: 18px;
      }

      h5 {
        font-size: 14px;
      }

      iframe {
        width: 100%;
        height: 160px;
      }
    }
  }

  #home-footer {
    height: 24px;

    h6 {
      padding: 5px 30px 0 0;
      font-size: 12px;
      color: #F1C40F;
      text-align: right;
    }
  }

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .jumbotron {
    background-image: url("mom-in-grass-992.jpg");
    height: 500px;

    .display-3 {
      margin-left: 30%;
      margin-top: 105px;
      font-size: 54px;
      line-height: 46px;
    }

    .btn-block {
      margin: 18px 0 0 30%;
      width: 277px;
    }

    .btn-lg {
      padding: 10px 18px 6px 18px;
      border-radius: 0;
      font-size: 24px;
      height: 58px;
    }
  }

  #planning-section {
    height: 700px;

    h1 {
      margin: 105px 0 0 10%;
      font-size: 120px;
      line-height: 124px;
    }

    P {
      margin: 165px 0 0 12%;
      font-size: 36px;
      line-height: 48px;
      width: 380px;
    }
  }

  #home-table {
    margin: 105px 0 80px 0;

    h2 {
      padding: 0 0 40px 0;
      font-size: 36px;
    }
  }

  #secure-section {
    margin: 160px 30px;

    h1 {
      font-size: 120px;
      line-height: 104px;
    }

    h3 {
      font-size: 36px;
      line-height: 42px;
    }
  }

  #help-section {
    height: 700px;

    h1 {
      margin: 105px 0 0 10%;
      font-size: 120px;
      line-height: 124px;
    }

    h3 {
      margin: 165px 0 0 12%;
      font-size: 36px;
      line-height: 48px;
      width: 380px;
    }
  }

  #home-contact-section {
    .jumbotron {
      margin: 30px 15px;
    }

    #contact-panel {
      margin: 60px 30px 60px 0;
      padding: 30px 30px;
      border-radius: 10px;

      h3 {
      font-family: PlayfairDisplay;
      font-size: 32px;
      color: #2C3E50;
      letter-spacing: 0;
      line-height: 0;
      }

      h4 {
        font-size: 24px;
      }

      h5 {
        font-size: 16px;
      }
      iframe {
        height: 200px;
      }
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

  #home-banner {
     .jumbotron {
      background-image: url("mom-in-grass-1440.png");
      height: 600px;

      .display-3 {
        margin-top: 160px;
        font-size: 68px;
        line-height: 56px;
      }

      .btn-block {
        margin: 24px 0 18px 30%;
        width: 347px;
      }

      .btn-lg {
        font-size: 24px;
        height: 58px;
      }

      .btn-default {

      }

      .btn-primary {

      }
    }
  }

  #banner-footer {
 }

  #planning-section {

    h1 {
      margin: 105px 0 0 10%;
      font-size: 140px;
    }

    P {
    margin: 165px 0 0 5%;
    font-size: 48px;
    line-height: 64px;
    width: 550px;
    }
  }

  #home-table {
    margin: 105px 30px 80px 30px;

    h2 {
      padding: 0 0 60px 0;
      font-weight: 500;
    }

  }

  #secure-section {

    h1 {
      font-size: 120px;
      line-height: 104px;
    }

    h3 {
      font-size: 42px;
      line-height: 53px;
    }
  }

  #help-section {

    h1 {
      margin: 105px 0 0 10%;
      font-size: 140px;
    }

    h3 {
      margin: 165px 0 0 5%;
      font-size: 48px;
      line-height: 64px;
      width: 550px;
    }
  }

  #home-contact-section {
    .jumbotron {
    }

    #contact-panel {
      margin: 60px 30px 60px 0;
      padding: 60px;

      h3 {
        font-size: 36px;
      }

      h4 {
        font-size: 28px;
      }

      h5 {
        font-size: 18px;
      }
    }
  }

}

// Super large devices (large desktops, 1440px and up)
@media (min-width: 1440px) {

  #home-banner {
    .jumbotron {
      background-image: url("mom-in-grass-1440.png");
      height: 700px;

      .display-3 {
        font-size: 76px;
        letter-spacing: .5px;
        line-height: 68px;
      }

      .btn-block {
        margin: 24px 0 18px 30%;
        width: 397px;
      }

      .btn-lg {
        font-size: 24px;
      }
    }
  }


  #banner-footer {
    margin: 0 30px;
    height: 50px;
    font-size: 32px;
   }

  #planning-section {
    height: 800px;

    h1 {
      margin: 140px 0 0 10%;
    }

    P {
    margin: 180px 0 0 5%;
    font-size: 48px;
    line-height: 64px;
    width: 550px;
    }
  }

  #home-table {
    margin: 160px 30px 80px 30px;
  }

  #secure-section {

    h1 {
      font-size: 140px;
      line-height: 124px;
    }

    h3 {
      font-size: 64px;
      line-height: 73px;
    }
  }

  #help-section {
    height: 800px;

    h1 {
      margin: 140px 0 0 10%;
    }

    h3 {
      margin: 180px 0 0 5%;
    }
  }

  #home-contact-section {

    #contact-panel {
      margin: 120px 60px 120px 0;
      padding: 60px;
    }

    h3 {
      font-family: PlayfairDisplay;
      font-size: 32px;
      color: #2C3E50;
      letter-spacing: 0;
      line-height: 0;
    }
  }

}
